.page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 0 2rem;
}

.page-wrapper::before {
    content: "";
    background-image: url("https://cdn.pixabay.com/photo/2018/10/22/10/53/dawn-3764991_960_720.jpg");
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 1;
    z-index: -1;
}

.intro { 
    grid-area: 1 / 1 / 2 / 2;
    background: none;
    padding: 0;
}
.main { 
    grid-area: 2 / 3 / 3 / 4;
    background: none;
}
.sidebar { 
    grid-area: 1 / 2 / 5 / 3;
    .wrapper {
        padding: 3rem;
    }
}