@mixin left-leaf($color, $background){
    margin-top: 5rem;
    padding: 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: $background;
    color: $color;
    transform: skewY(10deg);
}

@mixin right-leaf($color, $background){
    padding: 3rem 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: $background;
    color: $color;
    transform: skewY(-7deg);
}