//Colors
$blizzard-blue: #99d7deff;
$army-green: #575e32ff;
$bud-green: #79b251ff;
$castleton-green: #305e4cff;
$rich-black-fogra-29: #02111bff;
$cornsilk: #fefae0ff;
$fawn: #dda15eff;
$liver-dogs: #bc6c25ff;
$cyber-yellow: #ffd500ff;
$white: #ffffff;
$black: #111111;
//Fonts
$font-heading: 'Kalam', cursive;
$font-body: 'Lato', sans-serif;