@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Lato:ital,wght@0,400;1,300&display=swap');
@import './partials/variables';
@import './partials/mixins';
@import './partials/bootstraping';
@import './partials/links';
@import './partials/mobile';

//Desktop
@media (min-width: 520px){

  @import './partials/layout';
  // Animation in the background
  @import './partials/falling-leaf';

  header{
    @include left-leaf($black, $bud-green);
    margin-right: -2rem;
  }
  .summary{
    @include left-leaf($white, $castleton-green);
    margin-right: -2rem;
  }
  .preamble {
    @include right-leaf($white, $army-green);
    transform: translateX(205%) skewY(-7deg);
    margin-top: -20rem;
    margin-left: 4rem;
  }
  .explanation {
    @include left-leaf($black, $bud-green);
    transform: translateX(-205%) skewY(10deg);
    margin-top: -4rem;
  }
  .benefits{
    @include left-leaf($white, $army-green);
    transform: translateX(-205%) skewY(10deg);
    margin-top: -10rem;
  }
  .participation{
    @include right-leaf($white, $castleton-green);
    margin-top: -15rem;
    margin-left: -4rem;
  }
  .requirements{
    @include right-leaf($black, $bud-green);
    margin-left: -4rem;
  }
  footer {
    @include left-leaf($white, $castleton-green);
    margin-top: 0;
    transform: translateX(-205%) translateY(-25rem) skewY(10deg);
  }
}