@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Lato:ital,wght@0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fefae0ff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kalam", cursive;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
}

ul {
  list-style: none;
  padding-left: 1em;
}

li:before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url("./images/spiral.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

a {
  color: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.sidebar a, .requirements a {
  color: #111111;
  background: linear-gradient(to bottom, #111111 0%, #111111 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}
.sidebar a:hover, .requirements a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.intro {
  background: #79b251ff;
  padding: 1rem;
}

.main {
  background: #305e4cff;
  padding: 1rem;
}

.sidebar {
  background: #bc6c25ff;
  padding: 1rem;
}

@media (min-width: 520px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 10px;
    padding: 0 2rem;
  }

  .intro {
    grid-area: 1/1/2/2;
    background: none;
  }

  .main {
    grid-area: 2/3/3/4;
    background: none;
  }

  .sidebar {
    grid-area: 1/2/5/3;
    width: fit-content;
    justify-self: center;
  }

  header {
    margin-top: 5rem;
    padding: 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: #79b251ff;
    color: #111111;
    transform: skewY(10deg);
  }

  .summary {
    margin-top: 5rem;
    padding: 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: #305e4cff;
    color: #ffffff;
    transform: skewY(10deg);
  }

  .preamble {
    padding: 3rem 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: #575e32ff;
    color: #ffffff;
    transform: skewY(-7deg);
    transform: translateX(205%) skewY(-7deg);
  }

  .explanation {
    margin-top: 5rem;
    padding: 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: #79b251ff;
    color: #111111;
    transform: skewY(10deg);
    transform: translateX(-205%) skewY(10deg);
  }

  .benefits {
    margin-top: 5rem;
    padding: 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: #575e32ff;
    color: #ffffff;
    transform: skewY(10deg);
    transform: translateX(-205%) skewY(10deg);
  }

  .participation {
    padding: 3rem 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: #305e4cff;
    color: #ffffff;
    transform: skewY(-7deg);
  }

  .requirements {
    padding: 3rem 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: #79b251ff;
    color: #111111;
    transform: skewY(-7deg);
  }

  footer {
    margin-top: 5rem;
    padding: 2rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 15%;
    background: #305e4cff;
    color: #ffffff;
    transform: skewY(10deg);
    margin-top: 0;
    transform: translateX(-205%) translateY(-50%) skewY(10deg);
  }
}

/*# sourceMappingURL=style.css.map */
