* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 25px;
}

.page-wrapper {
  display: grid;
  height: 100vh;
  width: 90%;
  margin: auto;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "intro intro" "main sidebar";
  z-index: auto;
}
.page-wrapper::before {
  content: "Top right corner of html ";
  background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg");
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.5;
  z-index: -1;
}
.page-wrapper::after {
  content: "this text appears very small in the top right corner of the wrapper div";
  background-image: linear-gradient(blue, skyblue, lightblue, forestgreen);
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 90%;
  margin: auto;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.8;
  z-index: -1;
}

/* header   */
#zen-intro {
  display: flex;
  flex-direction: row;
  padding: 5px;
  grid-area: intro;
  border-style: double;
}

.summary {
  float: left;
  border-style: double;
}

.preamble {
  border-style: double;
}
.preamble h3 {
  text-align: center;
  width: 150px;
  height: 100px;
  background-image: radial-gradient(circle, white, skyblue);
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 84px 84px 84px;
  margin-right: 30px;
  padding-top: 50px;
  box-shadow: 25px 25px 30px yellow;
}

/*p{ 
     float:left;
     margin: 100px;
    border-style: solid;
    border-color: forestgreen;
    width: 40px;
    height: 40px;
     border-radius: 55px 0;
    font-size:3px;  
}
p:hover, p:active {
    width: auto;
    height: auto;
     border-radius: auto;
    font-size:20px;
      z-index: auto;}*/
header {
  text-align: center;
  border-style: double;
  height: 100px;
}

/* end header */
.main {
  padding: 5px;
  grid-area: main;
  border-style: double;
}

aside {
  padding: 25px;
  grid-area: sidebar;
  border-style: double;
}
aside::before {
  content: "we can add extra text here with the ::before ";
}
aside::after {
  content: "we can add extra text here with the ::after ";
}

.extra1 {
  background-color: lightgreen;
  height: 15px;
  width: 15px;
  border-radius: 75px 0;
  position: absolute;
  margin-left: 26px;
  /*animation-name: animation-time: animation repeat */
  animation: example 13s infinite;
  animation-fill-mode: forwards;
}
.extra1::after {
  content: "1a";
  background-color: lightgreen;
  height: 14px;
  width: 14px;
  border-radius: 45px 0;
  position: fixed;
  margin-left: 27px;
  -ms-transform: skewY(20deg);
  /* IE 9 */
  transform: skewY(20deg);
  animation: example 12s infinite;
  animation-fill-mode: forwards;
}
.extra1::before {
  content: "1";
  background-color: lightgreen;
  height: 12px;
  width: 12px;
  border-radius: 40px 0;
  position: fixed;
  margin-left: 33px;
  -ms-transform: rotate(75deg);
  /* IE 9 */
  transform: rotate(75deg);
  animation: example 11s infinite;
  animation-fill-mode: forwards;
}

.extra2 {
  margin-left: 50px;
  background-color: lightgreen;
  height: 15px;
  width: 15px;
  border-radius: 35px 0;
  position: fixed;
  margin-left: 31px;
  /*animation-name: animation-time: animation repeat */
  animation: example 10s infinite;
  animation-fill-mode: forwards;
}
.extra2::after {
  content: "2";
  background-color: lightgreen;
  height: 16px;
  width: 16px;
  border-radius: 35px 0;
  position: fixed;
  margin-left: 40px;
  animation: example 8s infinite;
  animation-fill-mode: forwards;
}
.extra2::before {
  content: "2";
  background-color: greenyellow;
  height: 13px;
  width: 13px;
  border-radius: 35px 0;
  position: fixed;
  margin-left: 20px;
  -ms-transform: rotate(75deg);
  /* IE 9 */
  transform: rotate(75deg);
  animation: example 9s infinite;
  animation-fill-mode: forwards;
}

/*    */
.extra3 {
  background-color: lightgreen;
  height: 25px;
  width: 25px;
  border-radius: 35px 0;
  position: fixed;
  margin-left: 18px;
  /*animation-name: animation-time: animation repeat */
  animation: example 13s infinite;
  animation-fill-mode: forwards;
}
.extra3::after {
  content: "3";
  float: left;
  background-color: lightgreen;
  height: 20px;
  width: 20px;
  border-radius: 35px 0;
  position: fixed;
  margin-left: 17px;
  animation: example 8s infinite;
  animation-fill-mode: forwards;
}
.extra3::before {
  content: "3";
  float: left;
  background-color: greenyellow;
  height: 10px;
  width: 10px;
  border-radius: 35px 0;
  position: fixed;
  margin-left: 15px;
  -ms-transform: rotate(75deg);
  /* IE 9 */
  transform: rotate(75deg);
  animation: example 16s infinite;
  animation-fill-mode: forwards;
}

/* */
.extra4 {
  float: left;
  background-color: lightgreen;
  height: 25px;
  width: 25px;
  border-radius: 35px 0;
  position: fixed;
  margin-left: 30px;
  /*animation-name: animation-time: animation repeat */
  animation: example 4s infinite;
  animation-fill-mode: forwards;
}
.extra4::after {
  content: "4";
  float: left;
  background-color: lightgreen;
  height: 15px;
  width: 15px;
  border-radius: 35px 0;
  position: fixed;
  margin-left: 50px;
  animation: example 7s infinite;
  animation-fill-mode: forwards;
}
.extra4::before {
  content: "4";
  float: left;
  background-color: greenyellow;
  height: 10px;
  width: 10px;
  border-radius: 35px 0;
  position: fixed;
  -ms-transform: rotate(75deg);
  /* IE 9 */
  transform: rotate(75deg);
  animation: example 22s infinite;
  animation-fill-mode: forwards;
}

/* can NOT position: fixed the leaves in key */
/* need to list z-index on each key line */
@keyframes example {
  /* from {top: 0px;}
   to {top: 500px; background-color: orangered;}*/
  0% {
    top: 0px;
    padding: 10px;
    opacity: 0.1;
    z-index: -1;
  }
  25% {
    top: 100px;
    background: #F3CD72;
    padding: 12px;
    z-index: -1;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    transform: rotate(20deg);
  }
  50% {
    top: 200px;
    background: #FB854A;
    padding: 14px;
    z-index: -1;
    -ms-transform: rotate(-20deg);
    /* IE 9 */
    transform: rotate(-20deg);
  }
  100% {
    top: 500px;
    background: #C86655;
    padding: 8px;
    z-index: -1;
  }
}
@media all and (max-width: 540px) {
  * {
    margin: 0px;
  }

  .page-wrapper {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "intro" "main" "sidebar";
  }

  #zen-intro {
    display: flex;
    flex-direction: column;
  }

  @keyframes example {
    /* from {top: 0px;}
     to {top: 500px; background-color: orangered;}*/
    0% {
      left: 0px;
      top: 0px;
      padding: 10px;
      opacity: 0.1;
      z-index: -1;
    }
    25% {
      left: 25px;
      top: 0px;
      background: #F3CD72;
      padding: 12px;
      z-index: -1;
      -ms-transform: rotate(20deg);
      /* IE 9 */
      transform: rotate(20deg);
    }
    50% {
      left: 50px;
      top: 0px;
      background: #FB854A;
      padding: 14px;
      z-index: -1;
      -ms-transform: rotate(-20deg);
      /* IE 9 */
      transform: rotate(-20deg);
    }
    100% {
      left: 100px;
      top: 0px;
      background: #C86655;
      padding: 8px;
      z-index: -1;
    }
  }
}

/*# sourceMappingURL=style.css.map */
