@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Lato:ital,wght@0,400;1,300&display=swap');
@import './partials/variables';
@import './partials/mixins';
@import './partials/bootstraping';
@import './partials/links';
@import './partials/mobile';

//Desktop
@media (min-width: 520px){

  @import './partials/layout';

  header{
    @include left-leaf($black, $bud-green);
  }
  .summary{
    @include left-leaf($white, $castleton-green);
  }
  .preamble {
    @include right-leaf($white, $army-green);
    transform: translateX(205%) skewY(-7deg);
  }
  .explanation {
    @include left-leaf($black, $bud-green);
    transform: translateX(-205%) skewY(10deg);
  }
  .benefits{
    @include left-leaf($white, $army-green);
    transform: translateX(-205%) skewY(10deg);
  }
  .participation{
    @include right-leaf($white, $castleton-green);
  }
  .requirements{
    @include right-leaf($black, $bud-green);
  }
  footer {
    @include left-leaf($white, $castleton-green);
    margin-top: 0;
    transform: translateX(-205%) translateY(-50%) skewY(10deg);
  }
}